body {
    margin: 0;
    font-family: Arial, sans-serif;
}



header {
    width: 100%;
    background-color: #3ab415;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 200px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.tabela-imc {
    width: 100%;
    border-collapse: collapse;
}

.tabela-imc caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.tabela-imc th,
.tabela-imc td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabela-imc th {
    background-color: #f2f2f2;
}